@import url("https://fonts.googleapis.com/css?family=Open+Sans:400, 400i, 700");

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%}
body {
  margin: 0;
}
article, aside, footer, header, nav, section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption, figure, main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace,  monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b, strong {
  font-weight: inherit;
}
b, strong {
  font-weight: bolder;
}
code, kbd, samp {
  font-family: monospace,  monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio, video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button, input {
  overflow: visible;
}
button, select {
  text-transform: none;
}
button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details, menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.75;
}
h1, .h1 {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.6018066406rem;
  line-height: 1.75rem;
  top: calc(.153em + .0740966797rem - (1.75rem * 0.5));
  font-family: "Open Sans", sans-serif;
}
h2, .h2 {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.423828125rem;
  line-height: 1.75rem;
  top: calc(.153em + .1630859375rem - (1.75rem * 0.5));
  font-family: "Open Sans", sans-serif;
}
h3, .h3 {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.265625rem;
  line-height: 1.75rem;
  top: calc(.153em + .2421875rem - (1.75rem * 0.5));
  font-family: "Open Sans", sans-serif;
}
h4, .h4 {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  top: calc(.153em + .3125rem - (1.75rem * 0.5));
  font-family: "Open Sans", sans-serif;
}
h5, .h5 {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1rem;
  line-height: 1.75rem;
  top: calc(.153em + .375rem - (1.75rem * 0.5));
  font-family: "Open Sans", sans-serif;
}
h6, .h6 {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: .8888888889rem;
  line-height: 1.75rem;
  top: calc(.153em + -.4444444444rem - (0rem * 0.5));
  font-family: "Open Sans", sans-serif;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-bottom: .875rem;
}
p {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1rem;
  line-height: 1.75rem;
  top: calc(.153em + .375rem - (1.75rem * 0.5));
  font-family: "Open Sans", sans-serif;
  padding-bottom: 1.75rem;
}
blockquote {
  margin: 0;
  padding: 0;
}
blockquote p {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  top: calc(.153em + .3125rem - (1.75rem * 0.5));
  font-family: "Open Sans", sans-serif;
}
cite {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1rem;
  line-height: 1.75rem;
  top: calc(.153em + .375rem - (1.75rem * 0.5));
  font-family: "Open Sans", sans-serif;
  display: block;
  padding: 0 0 1.75rem;
}
code {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1rem;
  line-height: 1.75rem;
  top: calc(.235em + .375rem - (1.75rem * 0.5));
  font-family: "Courier New", monospace;
  display: block;
  padding: 0 0 1.75rem;
}
code pre {
  margin: 0;
  font-family: "Courier New", monospace;
}
p code {
  position: static;
  top: auto;
  display: inline;
  line-height: 0;
}
ol, ul {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1rem;
  line-height: 1.75rem;
  top: calc(.153em + .375rem - (1.75rem * 0.5));
  font-family: "Open Sans", sans-serif;
  padding-bottom: 1.75rem;
}
ol ol, ol ul, ul ol, ul ul {
  position: static;
  top: auto;
  padding-bottom: 0;
}
small {
  font-size: .8888888889rem;
  line-height: 1;
}
.btn {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1rem;
  line-height: 1.75rem;
  top: calc(.153em + .375rem - (1.75rem * 0.5));
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  margin: -.125rem 0 1.625rem;
  padding: .875rem 1.75rem;
  text-decoration: none;
  border: .125rem solid;
  cursor: pointer;
}
.btn::-moz-focus-inner {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  border: none;
}
form {
  margin: 0 0 0rem;
  font-family: "Open Sans", sans-serif;
}
fieldset {
  margin: 0 0 1.625rem;
  padding: .875rem .875rem;
  border: solid .125rem;
}
label {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1rem;
  line-height: 1.75rem;
  top: calc(.153em + .375rem - (1.75rem * 0.5));
  font-family: "Open Sans", sans-serif;
  display: block;
  padding: 0 0 .875rem;
  cursor: pointer;
}
input, select, textarea {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1rem;
  line-height: 1.75rem;
  top: calc(.153em + .375rem - (1.75rem * 0.5));
  font-family: "Open Sans", sans-serif;
  display: block;
  width: 100%;
  margin: 0 0 1.75rem;
  padding: .75rem .875rem;
  background: transparent;
  border: solid .125rem;
}
select {
  height: 3.5rem;
}
textarea {
  height: 10.5rem;
}
input[type=search], input[type=number] {
  box-sizing: border-box;
  appearance: textfield;
}
input[type=radio], input[type=checkbox] {
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0;
}
input[type=radio]+label, input[type=checkbox]+label {
  display: inline-block;
  width: auto;
  margin: 0 .875rem 0 0;
  padding: 0;
}
#toolbar ul {
  top: auto;
}
body {
  background-color: #E1E1E1;
}
body>header {
  background: #ffffff;
  background: -moz-linear-gradient(left,  #fff 0%,  #E1E1E1 100%);
  background: -webkit-linear-gradient(left,  #fff 0%,  #E1E1E1 100%);
  background: linear-gradient(to right,  #fff 0%,  #E1E1E1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',  endColorstr='$lightgrey', GradientType=1 );
}
body>header a#logo {
  display: block;
  float: left;
  background-image: url("../images/cvve-logo.png");
  background-position: center center;
  background-repeat: no-repeat;
}
body>header a#logo span {
  display: none;
}
body>header nav#topbar {
  height: 56px;
  text-align: right;
  background-color: #DDDC00;
}
section#teaser {
  width: 100%;
  height: 556px;
  background-image: url("../images/home-foto.jpg");
  background-size: cover;
  background-position: top center;
  display: table;
}
section#teaser div.intro {
  display: table-cell;
  vertical-align: middle;
}
section#teaser div.intro p {
  max-width: 720px;
  color: #fff;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 2.265625rem;
  line-height: 2.75rem;
  top: calc(.153em + 9.2421875rem - (1.75rem * 0.5));
  font-family: "Open Sans", sans-serif;
  text-shadow:  2px 2px 8px black;
}
section#main article#content {
  margin: 0 auto;
  background-color: #fff;
  max-width: 752px;
}
section#main article#content p:last-child {
  padding-bottom: 0;
}
section#main section.row:last-child {
  margin-bottom: 0;
}
section#main section.row header {
  flex: 0 0 236px;
  padding: 8px 0;
}
section#main section.row header h1 {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  top: calc(.153em + .3125rem - (1.75rem * 0.5));
  font-family: "Open Sans", sans-serif;
}
section#main section.row article {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
section#main section.row article a {
  display: block;
  padding: 16px;
  height: 100%;
}
section#main section.row article p {
  color: #4A4A4A;
}
section#main section.row article p:last-child {
  padding-bottom: 0;
}
section#main section.row article:last-child {
  margin-right: 0;
}
section#main section.row.wanted article {
  background-color: #2DAAE1;
}
section#main section.row.wanted article time {
  display: block;
  color: #fff;
  margin-bottom: 16px;
}
section#main section.row.wanted article h1 {
  color: #fff;
  margin-bottom: 0;
}
section#main section.row.wanted article:hover {
  background-color: #4A4A4A;
}
section#main section.row.harskamp article.sibling,
section#main section.row.buddy article.sibling {
  margin-bottom: 0;
}
section#main section.row.harskamp article.sibling a,
section#main section.row.buddy article.sibling a {
  display: inline;
  padding: 0;
}
section#main section.row.news article {
  background-color: #fff;
  position: relative;
  height: 320px;
  padding: 16px;
}
section#main section.row.news article a {
  position: relative;
  padding: 0px;
}
section#main section.row.news article time {
  display: block;
  color: #AEAEAE;
  margin-bottom: 16px;
}
section#main section.row.news article h1 {
  color: #4A4A4A;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.265625rem;
  line-height: 1.75rem;
  top: calc(.153em + .2421875rem - (1.75rem * 0.5));
  font-family: "Open Sans", sans-serif;
}
section#main section.row.news article img {
  max-width: 100%;
  position: absolute;
  bottom: 0px;
  height: auto;
}
section#main section.row.news article:hover time {
  color: #4A4A4A;
}
section#main section.row.news article:hover h1 {
  color: #2DAAE1;
}
section#main section.row.agenda article {
  background-color: #fff;
}
section#main section.row.agenda article a {
  margin: 0px;
}
section#main section.row.agenda article time {
  display: block;
  color: #4A4A4A;
  margin-bottom: 16px;
}
section#main section.row.agenda article h1 {
  color: #4A4A4A;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.265625rem;
  line-height: 1.75rem;
  top: calc(.153em + .2421875rem - (1.75rem * 0.5));
  font-family: "Open Sans", sans-serif;
}
section#main section.row.agenda article:hover time {
  color: #4A4A4A;
}
section#main section.row.agenda article:hover h1 {
  color: #2DAAE1;
}
section#main section.row.agenda article.past time, section#main section.row.agenda article.past h1 {
  color: #AEAEAE;
}
section#main article.sibling {
  padding: 32px 24px 24px !important;
  margin-top: 32px;
}
section#main article.sibling.blue {
  background-color: #E2F2FC;
}
section#main article.sibling.blue h1 {
  color: #2DAAE1;
}
section#main article.sibling.purple {
  background-color: #F5EDFF;
}
section#main article.sibling.purple h1 {
  color: #82358C;
}
section#main article.sibling p {
  padding: 0;
}
section#main article.sibling img {
  max-width: 100%;
  margin-bottom: 16px;
}
body>footer {
  background-color: #DDDC00;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
a, a:visited {
  color: #2DAAE1;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
a:hover {
  color: #82358C;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: auto;
}
nav ul li {
  display: inline;
}
nav ul li.current a, nav ul li.active-trail a {
  color: #82358C;
}
nav#breadcrumb {
  padding: 16px 16px 0;
  margin-bottom: -16px;
  color: #4A4A4A;
}
nav#breadcrumb a {
  color: #AEAEAE;
}
nav#breadcrumb a:hover {
  color: #4A4A4A;
  text-decoration: underline;
}
nav#topbar a {
  display: inline-block;
  padding: 14px 0;
  color: #fff;
  margin-left: 16px;
}
nav#topbar a:hover {
  color: #82358C;
}
a.some {
  width: 24px;
  height: 24px;
  padding: 8px 0;
}
a.some span {
  display: none;
}
a.some:after {
  display: inline-block;
  content: "\00a0";
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}
a.facebook:after {
  background-image: url("../images/icon-facebook.svg");
}
a.twitter:after {
  background-image: url("../images/icon-twitter.svg");
}
a.instagram:after {
  background-image: url("../images/icon-instagram.svg");
}
a.linkedin:after {
  background-image: url("../images/icon-linkedin.svg");
}
nav#cta {
  background-color: #2DAAE1;
  color: #fff;
}
nav#cta span {
  display: block;
}
nav.footer-col h3 {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  top: calc(.153em + .3125rem - (1.75rem * 0.5));
  font-family: "Open Sans", sans-serif;
  color: #fff;
}
nav.footer-col h3 a {
  color: #fff;
}
nav.footer-col ul li {
  display: block;
  margin: 0;
}
nav.footer-col ul li a {
  color: #4A4A4A;
  padding: 4px 0;
  display: block;
}
nav.footer-col ul li a:hover {
  color: #82358C;
}
nav.footer-col ul.some-list li {
  display: inline-block;
}
a.cta:hover {
  text-decoration: underline;
}
a.cta-white {
  color: #fff;
}
a.cta-white:after {
  content: url("../images/arrow-white.svg");
  padding-left: 8px;
}
a.cta-blue {
  color: #2DAAE1;
}
a.cta-blue:after {
  content: url("../images/arrow-blue.svg");
  padding-left: 8px;
}
a.cta-purple {
  color: #82358C;
}
a.cta-purple:after {
  content: url("../images/arrow-purple.svg");
  padding-left: 8px;
}
a.phone:before, a.email:before, a.address:before {
  display: inline-block;
  content: "\00a0";
  background-size: 24px 24px;
  background-position: center left;
  width: 32px;
  height: 24px;
  background-repeat: no-repeat;
}
a.phone:before {
  background-image: url("../images/icon-phone.svg");
}
a.email:before {
  background-image: url("../images/icon-email.svg");
}
a.address:before {
  background-image: url("../images/icon-address.svg");
}
.mobilemenu-open .hamburger-inner, .mobilemenu-open .hamburger-inner::before, .mobilemenu-open .hamburger-inner::after {
  background-color: #82358C !important;
}
.mobilemenu-open nav#mainnav {
  max-height: 500px;
}
body>header a#logo {
  padding: 0 16px;
  width: 122px;
  height: 56px;
  background-size: 90px 37px;
}
body>header nav#topbar {
  padding: 0 16px;
  margin-left: 122px;
}
body>header nav#topbar ul.some-list li.mobile-hidden {
  display: none;
}
body>header nav#topbar #mobilemenu_trigger {
  margin-left: 32px;
}
body>header nav#topbar #mobilemenu_trigger .hamburger-box {
  width: 40px;
  height: 16px;
  display: inline-block;
  position: relative;
}
body>header nav#topbar #mobilemenu_trigger .hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
body>header nav#topbar #mobilemenu_trigger .hamburger-inner, body>header nav#topbar #mobilemenu_trigger .hamburger-inner::before, body>header nav#topbar #mobilemenu_trigger .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
body>header nav#topbar #mobilemenu_trigger .hamburger-inner::before, body>header nav#topbar #mobilemenu_trigger .hamburger-inner::after {
  content: "";
  display: block;
}
body>header nav#topbar #mobilemenu_trigger .hamburger-inner::before {
  top: -10px;
}
body>header nav#topbar #mobilemenu_trigger .hamburger-inner::after {
  bottom: -10px;
}
body>header nav#mainnav {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body>header nav#mainnav ul li a {
  display: block;
  padding: 16px;
}
section#teaser div.intro {
  padding: 0 16px;
}
section#main {
  padding: 32px 0 56px;
}
section#main article#content {
  padding: 40px 24px 32px;
}
section#main .view .view-content .views-row {
  margin-bottom: 1px;
}
section#main .view .view-content .views-row article.node {
  background-color: #fff;
}
section#main .view .view-content .views-row article.node a {
  padding: 16px 16px 8px;
  display: block;
}
section#main .view .view-content .views-row article.node a time {
  display: block;
  color: #AEAEAE;
  margin-bottom: 16px;
}
section#main .view .view-content .views-row article.node.node-article a {
  color: #4A4A4A;
}
section#main .view .view-content .views-row article.node.node-article a h1 {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.265625rem;
  line-height: 1.75rem;
  top: calc(.153em + .2421875rem - (1.75rem * 0.5));
  font-family: "Open Sans", sans-serif;
  color: #4A4A4A;
}
section#main .view .view-content .views-row article.node.node-article a:hover time {
  color: #4A4A4A;
}
section#main .view .view-content .views-row article.node.node-article a:hover h1 {
  color: #2DAAE1;
}
section#main .view .view-content .views-row article.node.node-cvve-wanted {
  background-color: #2DAAE1;
}
section#main .view .view-content .views-row article.node.node-cvve-wanted a time {
  color: #fff;
}
section#main .view .view-content .views-row article.node.node-cvve-wanted a h1 {
  color: #fff;
}
section#main .view .view-content .views-row article.node.node-cvve-wanted a:hover {
  background-color: #4A4A4A;
}
section#main .node header time {
  display: block;
  color: #4A4A4A;
  margin-bottom: 16px;
}
section#main section.row {
  margin: 0 0 32px;
  padding: 0;
}
section#main section.row header {
  padding: 32px 16px 16px 16px;
}
section#main section.row article {
  margin-bottom: 1px;
}
body.one-sidebar section#main aside#sidebar {
  padding: 32px 24px 0;
  max-width: 752px;
  margin: 32px auto 0;
}
nav#cta {
  padding: 16px;
}
nav.footer-col {
  padding: 32px 16px;
  width: 100%}
nav.footer-col.extra-nav {
  display: none;
}
nav.footer-col ul+h4 {
  margin-top: 32px;
}
nav.footer-col .some-list li {
  margin-right: 16px;
}
fieldset.payment-method-form.form-wrapper {
  border: none;
  padding: 0px;
  margin: 0px;
}
fieldset.payment-method-form.form-wrapper legend {
  display: none;
}
fieldset.payment-method-form.form-wrapper pre {
  display: none;
}
@media all and (min-width: 40em) {
  body>header nav#topbar ul.some-list li.mobile-hidden {
    display: inline;
  }
}@media all and (min-width: 68em) {
  body>header {
    height: 112px;
  }
  body>header a#logo {
    padding: 0 56px;
    width: 292px;
    height: 112px;
    background-size: 180px 74px;
  }
  body>header nav#topbar {
    padding: 0 56px 0 16px;
    margin-left: 292px;
  }
  body>header nav#topbar #mobilemenu_trigger {
    display: none;
  }
  body>header nav#mainnav {
    margin-left: 292px;
    padding: 0 56px 0 16px;
    max-height: 56px;
    display: block;
    text-align: right;
  }
  body>header nav#mainnav ul li {
    display: inline-block;
    margin-left: 16px;
  }
  body>header nav#mainnav ul li a {
    padding: 14px 0;
  }
  section#teaser div.intro {
    padding: 0 56px;
  }
  nav#breadcrumb {
    padding: 16px 56px 0;
    margin-bottom: -32px;
  }
  section#main {
    padding: 56px 0;
  }
  section#main article#content {
    padding: 64px;
  }
  section#main .view .view-content {
    display: flex;
    padding: 0 40px;
  }
  section#main .view .view-content .views-row {
    flex: 1 0 320px;
  }
  section#main .view .view-content .views-row article.node {
    margin: 16px;
  }
  section#main section.row {
    display: flex;
    margin: 0 0 56px;
    padding: 0 56px;
  }
  section#main section.row header {
    flex: 0 0 236px;
    padding: 16px 0 0;
  }
  section#main section.row article {
    flex: 1 0 236px;
    margin-right: 16px;
  }
  section#main section.row.harskamp article.sibling,
  section#main section.row.buddy article.sibling {
    margin-top: 0;
    padding-bottom: 0px !important;
    flex: 1 0 236px;
  }
  section#main section.row.harskamp article:first-child.sibling,
  section#main section.row.buddy article:first-child.sibling {
    margin-left: 236px;
    flex: 1 0 236px;
  }
  section#main section.row.harskamp article p,
  section#main section.row.buddy article p {
    padding-bottom: 1.75rem;
  }
  body.one-sidebar section#main {
    display: flex;
  }
  body.one-sidebar section#main article#content {
    flex: 1 0 752px;
    margin-left: 24px;
  }
  body.one-sidebar section#main aside#sidebar {
    flex: 1 0 320px;
    padding: 24px;
  }
  aside#sidebar section.row:first-child {
    margin-top: 56px;
  }
  nav#cta {
    padding: 16px 56px;
  }
  nav#cta span {
    display: inline;
  }
  nav#cta a.cta {
    float: right;
  }
  nav.footer-col {
    padding: 56px 16px;
    flex: 1;
  }
  nav.footer-col:first-child {
    padding-left: 56px;
  }
  nav.footer-col:last-child {
    padding-right: 56px;
  }
  nav.footer-col.extra-nav {
    display: block;
  }
}
